@import "calculations";

@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/font/Hind_Madurai/HindMadurai-Light.ttf);
}
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/Hind_Madurai/HindMadurai-Regular.ttf);
}
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/font/Hind_Madurai/HindMadurai-Medium.ttf);
}
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/font/Hind_Madurai/HindMadurai-SemiBold.ttf);
}
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/font/Hind_Madurai/HindMadurai-Bold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/font/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 1000;
  src: url("/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

// Font families
// ================================
$font-family--hind-madurai: "Hind Madurai", sans-serif;
$font-family--montserrat: "Montserrat", sans-serif;

// Font colors
// ================================
$font-color--default: #150C21;
$font-color--highlight: #3B63F9;

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--montserrat;
  color: $font-color--default;
}

h1 {
  font-weight: 750;
  font-size: rem(40);
  line-height: rem(40);
  
  &:not(:last-child) {
    margin-bottom: multiplyBase(4);
  }
}

p {
  font-family: $font-family--hind-madurai;
  font-size: rem(18);
  line-height: rem(28);
  color: $font-color--default;

  strong {
    font-weight: 600;
  }

  &:not(:last-of-type) {
    margin-bottom: rem(16);
  }
}

p > a {
  font-family: $font-family--hind-madurai;
  font-size: rem(16);
  line-height: rem(28);
  color: $font-color--highlight;
  text-decoration: underline;
}